body {
	font-family: 'Oxygen', sans-serif !important;
    background-color: #edf0f2 !important;
}

.navbar {
	font-weight: 700;
}

.infoPanel {
	background-color: #e8e8e8;
	border-radius: 5px;
	padding: 25px;
}

.infoPanel .title {
	color: #939395;
}

.infoPanel .value {
	color: #29292A;
}