body {
	font-family: 'Oxygen', sans-serif !important;
    background-color: #edf0f2 !important;
}

.navbar {
	font-weight: 700;
}

.infoPanel {
	background-color: #f9f9f9;
	border-radius: 4px;
	padding-top: 25px;
}

.infoPanel .title {
	color: #939395;
}

.infoPanel .value {
	color: #29292A;
}